<h1>New team</h1>

<% if @team %>
	<%= errors_for @team %>
<% end %>

<% form_for(:team, :url => teams_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', teams_path %>