<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "jit-base" %>
    <%= stylesheet_link_tag "jit-Spacetree" %>
  </head>

  <!-- render the JIT SpaceTree of the current FSD in its JSON representation (the FSD will be the root node) -->
  <body>
    <%= javascript_tag "initST( #{function_structure_diagram.to_json} );" %>
    <div id="infovis"></div>
  </body>
</html>
