<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "Spacetree" %>
  </head>

  <!-- render the JIT tree of the current FSD in its JSON representation (the FSD will be the root node) -->
  <body onload="initST( <%= function_structure_diagram.to_json %> );">
    <div id="infovis"></div>
    <div id="log"></div>
  </body>
</html>
