<h1>New function_structure_diagram</h1>

<% if @function_structure_diagram %>
	<%= errors_for @function_structure_diagram %>
<% end %>

<% form_for(:function_structure_diagram, :url => function_structure_diagrams_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', function_structure_diagrams_path %>