/* Function edit style */

#functionLeftColumn
{
  float: left;
  margin-left: 15px;
  width: 25em;
}

#functionShortForm select{
  width: 150px;
}

#function_description fieldset{
  max-width: 580px;
  max-height: 152px;
  margin: 10px 11px 10px 9px;
}
#function_short_form fieldset{
  max-width: 580px;
  max-height: 164px;
  margin: 10px 11px 0px 9px;
}

#function_description_clue, #function_short_form_clue{
  color: blue;
  font-weight: bold;
}

.function_module{
  -moz-border-radius: 10px;
  padding: 10px;
  border: 1px solid white;
  background-color: navy;
  color: white;
  cursor: move;
  float: left;
}
