<h1>Editing concept_category</h1>

<% if @concept_category %>
		<%= errors_for @concept_category %>
<% end %>

<% form_for(:concept_category, :url => concept_category_path(@concept_category), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', concept_category_path(@concept_category) %> |
<%= link_to 'Back', concept_categories_path %>