<div id="known_objects_list_area">
  <fieldset>
    <legend>Objects</legend>
    <div id="known_objects_list_content"></div>
    <span id="known_objects_list_operations"></span>
  </fieldset>
</div>

