<h1>New project</h1>

<% if @project %>
	<%= errors_for @project %>
<% end %>

<% form_for(:project, :url => projects_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>