<div class="sidebar_box">
  <h2>
    <span class="header">Design Menu</span>
    <br clear="all" />
  </h2>
  <div class="sidebar_box_contents">
    <table>
      <tr>
        <td><%= link_to "Function Structure Diagrams", :controller=>"function_structure_diagram", :action=>"index"%></td>
      </tr>
    </table>
  </div>
</div>