<% field_title = nil if not defined?(field_title) -%>
<div class="form_row">
	<label for="<%= field%>">
		<%= field_title||field.humanize %>:
	</label>
	<%= form.password_field field,
							:size=>User::PASSWORD_SIZE,
							:maxlength=>User::PASSWORD_MAX_LENGTH %>
</div>
