<h1>New concept</h1>

<% if @concept %>
	<%= errors_for(@concept)%>
<% end %>

<% form_for(:concept, :url => concepts_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', concepts_path %>