<h1>Listing known_objects</h1>

<table>
  <tr>
  </tr>
  
<% for known_object in @known_objects %>
  <tr>
    <td><%= link_to 'Show', known_object_path(known_object) %></td>
    <td><%= link_to 'Edit', edit_known_object_path(known_object) %></td>
    <td><%= link_to 'Destroy', known_object_path(known_object), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New known_object', new_known_object_path %>