<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link type="text/css" href="/stylesheets/base.css" rel="stylesheet" />
<link type="text/css" href="/stylesheets/Spacetree.css" rel="stylesheet" />


<!-- JIT Library File -->
<script type="text/javascript" src="/javascripts/jit.js"></script>

<!-- Example File -->
<script type="text/javascript" src="/javascripts/example4.js"></script>


<div id="container">

<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="right-container" style="display:none;">

<h4>Selection Mode</h4>
<table>
    <tr>
        <td>
            <label for="s-normal">Normal </label>
        </td>
        <td>
            <input type="radio" id="s-normal" name="selection" checked="checked" value="normal" />
        </td>
    </tr>
    <tr>
         <td>
            <label for="s-root">Set as Root </label>
         </td>
         <td>
            <input type="radio" id="s-root" name="selection" value="root" />
         </td>
    </tr>
</table>

</div>

<div id="log"></div>
</div>
