<h1>Welcome!</h1>
<p>This is an online guiding software for product design.</p>
<p>It was designed primarily for <b>FireFox</b> to achieve better display, but it is compatible under Internet Explorer.</p>

